.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
  }
  
  .header-left h1 {
    margin-top: 20px;
    margin-right: -80px;
    font-size: 20px;
  }
  
  .header-center ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .header-center ul li {
    display: flex;
  }
  
  .header-center ul li a {
    text-decoration: none;
    color: #000;
  }
  
  .header-right .login-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
  }
  
  .header-right .login-button:hover {
    background-color: #0056b3;
  }
  