.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f5f9;
  }
  
  .header-left h1 {
    margin-top: 20px;
    margin-right: -80px;
    font-size: 20px;
  }
  
  .header-center ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .header-center ul li {
    display: flex;
  }
  
  .header-center ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .header-right .login-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .header-right .login-button:hover {
    background-color: #0056b3;
  }
  
  .header-right .post-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

  .header-right .post-button:hover {
    background-color: #218838; 
}
